@page
@model IndexModel
@{
    ViewData["Title"] = "АгроДинастия";
}

<style>
    .navbar {
        background-color: black;
        opacity: 0.8;
    }

    body {
        background-image: url(images/background.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
    }

    footer {
        background-color: black;
        opacity: 0.8;
        color: white;
        
    }

</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div style="height: 400px;"></div>
<div style="height: 400px;"></div>
<div style="height: 400px;"></div>
<div style="height: 400px;"></div>
<div style="height: 400px;"></div>
<div style="height: 400px;"></div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("main-nav").classList.remove("bg-dark");

        let meta = document.createElement("meta");
        meta.setAttribute("name", "description");
        meta.setAttribute("content", "Упаковочные материалы для сельского хозяйства");

        document.getElementsByTagName("head")[0].appendChild(meta);
    })
</script>
