@page
@model IndexModel
@{
    ViewData["Title"] = "АгроДинастия";
}

<style>
    .navbar {
        background-color: black;
        opacity: 0.8;
    }

    body {
        background-image: url(images/background.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
    }

    footer {
        background-color: black;
        opacity: 0.8;
        color: white;
        
    }

    .slide1 {
        background-image: url(images/slide1.jpg);
    }

    .slide2 {
        background-image: url(images/slide2.jpg);
    }

    .slide3 {
        background-image: url(images/slide3.jpg);
    }

    .slide4 {
        background-image: url(images/slide4.jpg);
    }

    .slide5 {
        background-image: url(images/slide5.jpg);
    }

    .slide6 {
        background-image: url(images/slide6.jpg);
    }

    .slide7 {
        background-image: url(images/slide7.jpg);
    }




    .text-white {
        color: #dff0f0;
    }

    .text-black {
        color: #1c2e59;
    }

    .items-container {
        background-color: #1c2e59;
        color: #dff0f0;
        opacity: 0.8;
        margin-top: 80px;
    }

    .itedisplayiner h3 {
        text-align: center;
    }

</style>


<div id="carousel" class="carousel slide mt-2" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slide slide1">
                <div class="text-div">
                    <h3 class="slide-text">Агрострейч плёнка</h3>
                    <p>Плёнка предназначена для обмотки тюков сенажа перед длительным хранением</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide2">
                <div class="text-div">
                    <h3 class="slide-text">Сетка сеновязальная</h3>
                    <p>Сетка сеновязальная значительно сокращает время на обмотку тюка и эффективно защищает корм от неблагоприятных воздействий природы</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide3">
                <div class="text-div">
                    <h3 class="slide-text">Шпагат сеновязальный</h3>
                    <p>Шпагат сеновязальный используется для тюкования сена, соломы, зеленых кормов; для ручной и авто обмотки готовых рулонов и тюков</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide4">
                <div class="text-div">
                    <h3 class="slide-text">Плёнки для силоса вакумные и чёрно-белые</h3>
                    <p>Силосование под пленкой – это современный, экономичный способ консервирование кормов, который основан на процессе молочнокислого брожения</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide5">
                <div class="text-div">
                    <h3 class="slide-text">Гравийные мешки и защитная сетка от грызунов и птиц</h3>
                    <p>
                        Служат для утяжеления и уплотнения покрытия силоса. Сетка обеспечивает дополнительную защиту силоса от проникновения кислорода, предотвращая раздувание пленки
                    </p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide6">
                <div class="text-div">
                    <h3 class="slide-text">Защитный флис для тюков соломы и сена</h3>
                    <p>
                        Защитный флис защищает тюки соломы и сена от ветра и дождя и обеспечивает воздухопроницаемость
                    </p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide7">
                <div class="text-div">
                    <h3 class="slide-text">Полимерные рукава для хранения</h3>
                    <p>Хранение в полимерных рукавах - это эффективная, удобная и экологически безвредная система консервирования и хранения различного вида кормов</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>

<div class="container pb-4 pt-4 items-container">
    <h3 class="mb-5">Упаковочные материалы для сельского хозяйства и кормозаготовки</h3>

    <div class="ms-5">
        <h4 class="mb-4">Обмоточные материалы</h4>
        <ul class="list-bullets mb-5">
            <li class="mb-2"><a href="#">Агрострейч пленка</a></li>
            <li class="mb-2"><a href="#">Сетка сеновязальная</a> </li>
            <li class="mb-2"><a href="#">Шпагат сено-вязальный упаковочный</a></li>
        </ul>

        <h4 class="mb-4">Пленочные для укрытия силосных и сенажных траншей</h4>
        <ul class="list-bullets">
            <li class=""><a href="#">Пленочные полотна черно-белые</a></li>
        </ul>
        <ul class="list-w-bullets mb-5">
            <li class="mb-2"><a href="#">Пленка черно-белая силосная</a></li>
            <li class="mb-2"><a href="#">Пленка вторичная</a></li>
        </ul>

        <ul class="list-bullets">
            <li class=""><a href="#">Пленочные полотна вакуумные</a></li>
        </ul>
        <ul class="list-w-bullets mb-5">
            <li class="mb-2"><a href="#">Пленка вакуумная подкладочная</a></li>
            <li class="mb-2"><a href="#">Рукав для зерна и сенажа</a></li>
            <li class="mb-2"><a href="#">Мешки силосные для гравия-прижимные</a></li>
            <li class="mb-2"><a href="#">Скотч ремонтный для полотна</a></li>
        </ul>

        <h4 class="mb-4">Хранение и защита кормов</h4>
        <ul class="list-bullets mb-5">
            <li class="mb-2"><a href="#">Гравийные мешки и защитная сетка</a></li>
            <li class="mb-2"><a href="#">Защитный флис для тюков соломы и сена</a> </li>
            <li class="mb-2"><a href="#">Полимерные рукава для хранения</a></li>
        </ul>
    </div>
</div>



<div style="height: 400px;"></div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("main-nav").classList.remove("bg-dark");

        let meta = document.createElement("meta");
        meta.setAttribute("name", "description");
        meta.setAttribute("content", "Упаковочные материалы для сельского хозяйства");

        document.getElementsByTagName("head")[0].appendChild(meta);
    })
</script>
