@page
@model BelPack.Pages.ProductsModel
@{
    ViewData["Title"] = "Продукция";
}

<style>
    .h-img {
        aspect-ratio: 1.5 / 1;
    }

    .card-footer {
        background-color: #1c2e59;
    }

    .card {
        border-color: #1c2e59;
    }

 
</style>

<h2>Продукция</h2>

<div class="row row-cols-1 row-cols-lg-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="images/plenka.jpg" class="card-img-top h-img" alt="Агро-стрейч плёнка">
      <div class="card-body">
        <h5 class="card-title">Агрострейч плёнка</h5>
        <p class="card-text">Плёнка предназначена для обмотки тюков сенажа перед длительным хранением</p>
      </div>
      <div class="card-footer">
          <a asp-page="/Agro-plenka" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/setka.jpg" class="card-img-top h-img" alt="Сетка сеновязальная">
      <div class="card-body">
        <h5 class="card-title">Сетка сеновязальная</h5>
        <p class="card-text">Сетка сеновязальная значительно сокращает время на обмотку тюка и эффективно защищает корм от неблагоприятных воздействий природы</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/shpagat.jpg" class="card-img-top h-img" alt="Шпагат сеновязальный">
      <div class="card-body">
        <h5 class="card-title">Шпагат сеновязальный</h5>
        <p class="card-text">Шпагат сеновязальный используется для тюкования сена, соломы, зеленых кормов; для ручной и авто обмотки готовых рулонов и тюков</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card h-100">
      <img src="images/plenka-chb.jpg" class="card-img-top h-img" alt="Пленочные полотна черно-белые">
      <div class="card-body">
        <h5 class="card-title">Пленочные полотна черно-белые</h5>
        <p class="card-text">Черно-белая силосная пленка покрывает верхний слой припасов и обеспечивает оптимальные условия для силосования</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/plenka-v.jpg" class="card-img-top h-img" alt="Вакуумная подкладочная пленка">
      <div class="card-body">
        <h5 class="card-title">Вакуумная подкладочная пленка</h5>
        <p class="card-text">Создает вакуум, уменьшая количество проникающего к корму кислорода</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/meshki.jpg" class="card-img-top h-img" alt="Гравийные мешки и защитная сетка">
      <div class="card-body">
        <h5 class="card-title">Гравийные мешки и защитная сетка</h5>
        <p class="card-text">Служат для утяжеления и уплотнения покрытия силоса. Сетка обеспечивает дополнительную защиту силоса от проникновения кислорода, предотвращая раздувание пленки</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/flis.jpg" class="card-img-top h-img" alt="Защитный флис для тюков соломы и сена">
      <div class="card-body">
        <h5 class="card-title">Защитный флис для тюков соломы и сена</h5>
        <p class="card-text">Защитный флис защищает тюки соломы и сена от ветра и дождя и обеспечивает воздухопроницаемость</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/rukava.jpg" class="card-img-top h-img" alt="Сетка сеновязальная">
      <div class="card-body">
        <h5 class="card-title">Полимерные рукава для хранения</h5>
        <p class="card-text">Хранение в полимерных рукавах - это эффективная, удобная и экологически безвредная система консервирования и хранения различного вида кормов</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
</div>