@page
@model BelPack.Pages.ProductsModel
@{
    ViewData["Title"] = "Продукция";
}

<style>
    .h-img {
        aspect-ratio: 1.5 / 1;
    }

    .card-footer {
        background-color: #1c2e59;
    }

    .card {
        border-color: #1c2e59;
    }
</style>

<h2>Продукция</h2>

<div class="row row-cols-1 row-cols-lg-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="images/plenka.jpg" class="card-img-top h-img" alt="Агро-стрейч плёнка">
      <div class="card-body">
        <h5 class="card-title">Агро-стрейч плёнка</h5>
        <p class="card-text">Плёнка предназначена для обмотки тюков сенажа перед длительным хранением</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/setka.jpg" class="card-img-top h-img" alt="Сетка сеновязальная">
      <div class="card-body">
        <h5 class="card-title">Сетка сеновязальная</h5>
        <p class="card-text">Сетка сеновязальная значительно сокращает время на обмотку тюка и эффективно защищает корм от неблагоприятных воздействий природы</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/shpagat.jpg" class="card-img-top h-img" alt="Шпагат сеновязальный">
      <div class="card-body">
        <h5 class="card-title">Шпагат сеновязальный</h5>
        <p class="card-text">Шпагат сеновязальный используется для тюкования сена, соломы, зеленых кормов; для ручной и авто обмотки готовых рулонов и тюков</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card h-100">
      <img src="images/setka.jpg" class="card-img-top h-img" alt="Сетка сеновязальная">
      <div class="card-body">
        <h5 class="card-title">Сетка сеновязальная</h5>
        <p class="card-text">Сетка сеновязальная значительно сокращает время на обмотку тюка и эффективно защищает корм от неблагоприятных воздействий природы</p>
      </div>
      <div class="card-footer">
          <a class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>

</div>