@page
@model AgroDynasty.Pages.RukavaModel
@{
    ViewData["Title"] = "Полимерные рукава для хранения";
}


<div class="container">
    <div class="d-flex product-container">
       <div class="product-image">
                <img src="images/rukava.jpg" class="product-img h-img" alt="Полимерные рукава для хранения">
        </div>
        <div class="ms-lg-5 w-100">
            <h3 class="product-title">Полимерные рукава для хранения</h3>
            <hr class="product-descr-line"/>
           
            <div class="product-descr" id="descr">
                <dl>
                    <dt class="dt"><span>Диаметр</span></dt>
                    <dd>1,5/1,65/1,95/2,7м</dd>

                    <dt class="dt"><span>Длина</span></dt>
                    <dd>60-75м</dd>

                    <dt class="dt"><span>Толщина</span></dt>
                    <dd><span>200-230мкм</span></dd>

                    <dt class="dt"><span>Производитель</span></dt>
                    <dd>РБ, Украина</dd>
                </dl>
            </div>
        </div>
    </div>
 
    <div class="mt-5 description-head">
        <span class="desr-title">Описание</span>
    </div>

    <div class="description mt-4">
        <p>
            Хранение в полимерных рукавах - это эффективная, удобная и экологически безвредная система консервирования и хранения различного вида кормов.
            Представляют собой трехслойные полиэтиленовые рукава для хранения зерна толщиной от 200 мкм, в которых зерно может храниться длительный период.
            В герметичной среде рукава очень быстро повышается уровень углекислого газа и уменьшается до минимального уровня количество кислорода.
            В этих условиях риск развития грибков и вредителей зерна сводится к нулю.
            Использование данной технологии позволяет сократить расходы по хранению зерна в 3-4 раза.
        </p>

        <p><b>С помощью технологии хранения в полимерных рукавах, могут сохраняться все сельскохозяйственные корма:</b></p>
        <ul class="info">
            <li>Сенаж (травяной и люцерновый силос)</li>
            <li>Продукты из кукурузы (ЛКС, влажный кукурузный силос)</li>
            <li>Не измельчённый травяной силос</li>
            <li>Пивная дробина и зерновая барда</li>
            <li>Зерно (влажное и сухое)</li>
            <li>Прессованный жом сахарной свеклы</li>
        </ul>

        <p><b>Преимущества при хранении кормов в полимерных рукавах:</b></p>
        <ul>
            <li>Герметичное закрытие утрамбованной массы, газонепроницаемая система</li>
            <li>Минимизация нежелательных патологических реакций в процессе ферментации и хранения</li>
            <li>Минимизация потерь при хранении</li>
            <li>Отсутствие занесения грязи колесами тракторов</li>
            <li>Возможность применения техники ЛЮБОГО класса по мощности</li>
            <li>Выбор места хранения в зависимости о производственных потребностей</li>
            <li>Экономичное, недорогое дополнение к имеющимся возможностям хранения</li>
            <li>Отсутствие вредного воздействия на окружающую среду</li>
            <li>Возможность хранения "специальных" видов корма, таких как свекольный жом, влажное зерно, люцерна и др.</li>
            <li>Идеальный вариант хранения, как для маленького хозяйства, так и для большого предприятия</li>
        </ul>
    </div>
</div>

<script>

document.addEventListener("DOMContentLoaded", function() {
    let dts = document.getElementsByClassName("dt");
    let container = document.getElementById("descr");
    let cont_info = container.getBoundingClientRect();
    
        Array.prototype.forEach.call(dts, function(el) {
            let dd = el.nextElementSibling;
            el.style.width = `${cont_info.width - dd.getBoundingClientRect().width - 15}px`;
        });
    });

</script>