@page
@model AgroDynasty.Pages.Setka_senoModel
@{
    ViewData["Title"] = "Сетка сеновязальная";
}

<div class="container">
    <div class="d-flex product-container">
       <div class="product-image">
                <img src="images/setka.jpg" class="product-img h-img" alt="Сетка сеновязальная">
        </div>
        <div class="ms-lg-5 w-100">
            <h3 class="product-title">Сетка сеновязальная 1,23м х 3000м и 1,25м х 3000м с захватом краёв и без</h3>
            <hr class="product-descr-line"/>
           
            <div class="product-descr" id="descr">
                <dl>
                    <dt class="dt"><span>Ширина</span></dt>
                    <dd>1,23м/1,25м</dd>

                    <dt class="dt"><span>Длина</span></dt>
                    <dd>3000м</dd>

                    <dt class="dt"><span>Производитель</span></dt>
                    <dd>Германия, Китай и Россия</dd>
                </dl>
            </div>
        </div>
    </div>
 
    <div class="mt-5 description-head">
        <span class="desr-title">Описание</span>
    </div>

    <div class="description mt-4">
        <p>
            Сетка сеновязальная применяется при заготовке и хранении соломы, сенажа и многих других сельскохозяйственных культур.
            Она значительно сокращает время на обмотку тюка и эффективно защищает корм от неблагоприятных воздействий природы.
            Сеть изготавливается из высококачественного полиэтилена и подходит для большинства типов пресс-подборщиков: CLASS, DEUTZ-FAHR, JOHN DEERE, KRONE, MASCAR и др.
        </p>

        <p><b>Предлагаемая нами сетка обеспечивает в процессе эксплуатации:</b></p>
        <ul class="info">
            <li>качественную увязку тюков и полное их покрытие</li>
            <li>высокую прочность на разрыв</li>
            <li>повышенную устойчивость к ультрафиолетовому излучению</li>
            <li>наилучшее соотношение затрат и качества получаемой продукции</li>
        </ul>

        <p><b>Использование сеновязальной сетки дает ряд преимуществ при заготовке кормов:</b></p>
        <ul>
            <li>высокая производительность</li>
            <li>экономия времени и топлива</li>
            <li>защита кормов</li>
        </ul>

        <p>
            Использование сетки вместо шпагата ускоряет процесс обмотки сена до 4 раз.
            Представленный в нашем каталоге продукт имеет высокую прочность, что сокращает количество оборотов необходимых для обмотки.
            Это увеличивает общий выход тюков за смену и экономит рабочее время и топливо.
        </p>

        <p>
            Одного рулона сетки достаточно для продолжительного рабочего дня.
            Это позволяет сэкономить время на замену обвязочного материала и тем самым увеличить производительность пресс-подборщика.
            Полное покрытие поверхности тюка и плотно прижатая сетка защищает корм от проникновения воздуха и влаги даже на открытых площадках,
            что защищает сено от загнивания и порчи. Также исключается попадание остатков обвязочного материала в корм животных.
            Сохраняются полезные свойства кормов и здоровье животных. Снижается количество отходов.
        </p>

        <p>
            Процесс дальнейшей обмотки тюков стрейч-пленкой упрощен за счет гладкости рулонов. Сено равномерно распределено по поверхности,
            не выступает за пределы сетки и не образует острые края. Пленка таким образом защищена от проколов и разрывов. Тюки удобно транспортировать и легко распаковывать.
        </p>
    </div>
</div>



<script>



document.addEventListener("DOMContentLoaded", function() {
    let dts = document.getElementsByClassName("dt");
    let container = document.getElementById("descr");
    let cont_info = container.getBoundingClientRect();
    
        Array.prototype.forEach.call(dts, function(el) {
            let dd = el.nextElementSibling;
            el.style.width = `${cont_info.width - dd.getBoundingClientRect().width - 15}px`;
        });
    });




</script>