@page
@model AgroDynasty.Pages.Shpagat_senoModel
@{
    ViewData["Title"] = "Шпагат сеновязальный";
}


<div class="container">
    <div class="d-flex product-container">
       <div class="product-image">
                <img src="images/shpagat.jpg" class="product-img h-img" alt="Шпагат сеновязальный">
        </div>
        <div class="ms-lg-5 w-100">
            <h3 class="product-title">Шпагат сеновязальный 2200 текс, 2500 текс и 7700 текс (аналог 130)</h3>
            <hr class="product-descr-line"/>
           
            <div class="product-descr" id="descr">
                <dl>
                    <dt class="dt"><span>Плотность</span></dt>
                    <dd>2200/2500/7700 текс</dd>

                    <dt class="dt"><span>Производитель</span></dt>
                    <dd>РБ, РФ и Германия</dd>
                </dl>
            </div>
        </div>
    </div>
 
    <div class="mt-5 description-head">
        <span class="desr-title">Описание</span>
    </div>

    <div class="description mt-4">
        <p>
            Сеновязальный шпагат - это разновидность изделия из полипропиленовых нитей, предназначенная для агросектора.
            Материал изготавливается из полимерных волокон, которые скручиваются между собой.
            Нити получают из гранул первичного полипропилена методом экструзии.
        </p>

        <p><b>Шпагат сеновязальный широко используется в сельскохозяйственной промышленности:</b></p>
        <ul class="info">
            <li>для тюкования сена, соломы, зеленых кормов</li>
            <li>для ручной и авто обмотки готовых рулонов и тюков</li>
        </ul>

        <p>
            Материал подходит для использования на различных видах пресс-подборщиков российского или импортного производства.
            Может применяться для обвязывания рулонов и прямоугольных тюков.
        </p>

        <p>
            Также полипропиленовый шпагат используется для подвязывания растений в теплицах и на открытых участках,
            виноградников, фиксирования систем орошения, вспомогательных хозяйственных работ.
        </p>

        <p>Использование качественной продукции позволяет добиться эффективного бесперебойного процесса жатвы и высокой плотности рулонов без разрыва нитей.</p>

        <p><b>Преимущества шпагата полипропиленового:</b></p>
        <ul>
            <li>высокая стойкость к износу, растрескиванию, многократным изгибам</li>
            <li>пластичность: благодаря этому свойству из шпагата можно изготавливать надежные узлы даже при сильном натяжении</li>
            <li>термо- и влагостойкость: за счет этих свойств продукция подходит для эксплуатации на открытом воздухе, во влажных помещениях</li>
            <li>экологическая безопасность</li>
            <li>стойкость к разрывам и растяжению</li>
            <li>удобство использования</li>
            <li>уменьшает износ механизмов пресс-подборщиков и другой сельскохозяйственной техники</li>
            <li>надежность связывания</li>
            <li>не подвержен гниению, воздействию плесени, грибка</li>
            <li>низкая электропроводность</li>
            <li>не разрушается под воздействием кислот, щелочей, органических растворителей</li>
            <li>экономичность и доступная цена</li>
        </ul>

    </div>
</div>

<script>

document.addEventListener("DOMContentLoaded", function() {
    let dts = document.getElementsByClassName("dt");
    let container = document.getElementById("descr");
    let cont_info = container.getBoundingClientRect();
    
        Array.prototype.forEach.call(dts, function(el) {
            let dd = el.nextElementSibling;
            el.style.width = `${cont_info.width - dd.getBoundingClientRect().width - 15}px`;
        });
    });

</script>