html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.navbar {
    font-size: 1.4rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-item {
    padding-left: 15px;
}

.navbar-nav {
    padding-left: 15px;
}

footer {
    text-align: center;
    color: #dff0f0;
    height: 70px;
    background-color: #1c2e59;
    height: fit-content;
}

footer .container {
    align-items: center;
    flex-direction: row;
}

    footer p {
        margin-bottom: 0;
    }

    footer div {
        text-align: left;
    }

    footer hr {
        margin: 0;
        border: 1px solid #dff0f0;
        opacity: 0.5;
        width: 80%;
    }

    footer .list-group-item {
        background-color: inherit;
        color: inherit;
        padding-left: 0;
        border: 1px solid #dff0f0;
    }

        footer .list-group-item > a {
            text-decoration: none;
            color: inherit;
        }

            footer .list-group-item > a:hover,
            footer .list-group-item > a:focus {
                color: #ffb15e;
            }

@media (max-width: 768px) {
    footer .container {
        align-items: flex-start;
        flex-direction: column;
    }

    footer p {
        margin-top: 25px;
        margin-left: 0;
    }
}

.nav-link {
    color: #bababa;
}

    .nav-link:hover,
    .nav-link:focus {
        color: #ffb15e;
    }

.map-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contact-elems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1c2e59;
}

.contact-elem {
    border: 1px solid black;
    border-radius: 10%;
    width: 250px;
    height: 170px;
    background-color: #dff0f0;
    border-color: lightgray;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-icon {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    padding-top: 8px;
}

.contact-icon-phone {
    background-color: green;
}

.contact-icon-email {
    background-color: blue;
}

.contact-icon-address {
    background-color: palevioletred;
}

.form-contact {
    width: 370px;
    /* background: rgb(59,75,173);
    background: linear-gradient(86deg, rgba(59,75,173,1) 0%, rgba(0,12,117,1) 100%);*/
    background-color: #1c2e59;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 15px;
}

    .form-contact input,
    .form-contact textarea {
        opacity: 0.8;
    }

    .form-contact label {
        font-family: "Google Sans",Roboto,Arial,sans-serif;
        font-size: 1.3rem;
        font-weight: 200;
        letter-spacing: 0;
        word-break: break-word;
        word-wrap: break-word;
        color: lightgray;
    }

.contact-top {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    width: 100%;
    height: 80px;

    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  
}

#form-confirmed {
    width: 300px;
}

.iti {
    width: 100%;
}

.logo-text {
    font-family: Impact;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    color: #1c2e59;
    opacity: 1;
}

.logo-wrapper {
    background-color: #abc9c9;
    border-radius: 15px;
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
}

    .logo-wrapper:hover,
    .logo-wrapper:focus {
        background-color: #dff0f0;
    }

.logo-img {
    border-radius: 36px;
}

@media (max-width: 768px) {
    .logo-text {
        display: none;
    }

    .logo-wrapper {
        width: 90px;
    }
}

.map-req {
    min-width: 60%;
}

.carousel,
.carousel .carousel-inner {
    max-height: 400px;
}

.carousel-item {
    background-position: center;
    background-size: cover;
}

/* List with bullets */
.list-bullets {
    list-style: none;
}

    .list-bullets li {
        display: flex;
        align-items: center;
    }

        .list-bullets li a {
            text-decoration: none;
            color: #dff0f0;
        }

            .list-bullets li a:hover,
            .list-bullets li a:focus {
                color: #ffb15e;
            }

        .list-bullets li::before {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #5784d7;
            border: 2px solid #8fb3f5;
            display: block;
            margin-right: 1rem;
        }

.list-w-bullets {
    list-style: none;
}
    .list-w-bullets li {
        display: flex;
        align-items: center;
        margin-left: 45px;
    }

        .list-w-bullets li a {
            text-decoration: none;
            color: #dff0f0;
            cursor:default;
        }

        .list-w-bullets li::before {
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #5784d7;
            border: 2px solid #8fb3f5;
            display: block;
            margin-right: 1rem;
        }

.slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: #dff0f0;
}

    .slide h3 {
        padding-left: 15%;
        padding-top: 30px;
    }

    .slide p {
        padding-left: 15%;
        padding-top: 15px;
    }

    .slide a {
        margin-left: 15%;
        position: absolute;
        bottom: 160px;
    }

.text-div {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    background-color: #1c2e59;
    height: 230px;
    opacity: 0.8;
}

@media (max-width: 992px) {
    .text-div {
        height: 270px;
    }
    .slide a {
        bottom: 140px;
    }
}

body {
    background-color: #abc9c9;
}

.product-image {
    max-width: 400px;
}

.product-container {
    flex-direction: row;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-title {
    /*  margin-left: 25px;*/
}

.product-descr {
    width: 60%;
}

.product-descr-line {
    width: 60%;
    border: 1px solid #1c2e59;
    opacity: 1;
}

@media (max-width: 1200px) {
    .product-descr {
        width: 100%;
    }

    .product-descr-line {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .product-title {
        margin-left: 0;
        margin-top: 25px;
    }

    .product-container {
        flex-direction: column;
    }
}

dl {
    display: block;
}

dt {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    font-weight: 700;
    width: 100px;
}

dd {
    float: right;
    width: fit-content;
    overflow: hidden;
}

dt span:after {
    content: " ............................................................................................................................................................";
    color: #1c2e59;
    opacity: 0.9;
    font-weight: 500;
}

.desr-title {
    background-color: #1c2e59;
    color: #dff0f0;
    padding: 10px;
    font-size: 20px;
}

.description-head {
    border-bottom: 2px solid #1c2e59;
    padding-bottom: 8px;
}

.description li {
    list-style-image: url(../images/check-circle-fill.svg);
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 15px;
}
