@page
@model IndexModel
@{
    ViewData["Title"] = "БелПакАктив";
}

<style>
    .navbar {
        background-color: black;
        opacity: 0.8;
    }

    body {
        background-image: url(images/background.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
    }

    footer {
        background-color: black;
        opacity: 0.8;
        color: white;
        text-align: center;
    }

    .nav-link {
        color: #bababa;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="height: 400px;"></div>
    <div style="height: 400px;"></div>
    <div style="height: 400px;"></div>
    <div style="height: 400px;"></div>
    <div style="height: 400px;"></div>
    <div style="height: 400px;"></div>
</div>
